.content {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  flex: 1 1 auto;


  &__component {
    display: flex;
    background-color: cornflowerblue;
    flex: 0 0 350px;
    margin: 10px;
    padding: 10px;
    align-self: stretch;
    &--clickable{
      background-color: lightblue;
      outline: 1px solid blue;
    }
  }
}
